/*
*
* Catppuccin Mocha CSS for Waybar
*
*/

/* Palet Warna Tokyo Night */
/* @define-color bg #1a1b26; */
@define-color bg rgba(26, 27, 38, 0.7);
@define-color fg #c0caf5;
@define-color red #f7768e;
@define-color green #9ece6a;
@define-color yellow #e0af68;
@define-color blue #7aa2f7;
@define-color magenta #bb9af7;
@define-color cyan #7dcfff;
@define-color bg-alt #16161e; /* Latar belakang alternatif/hover */

/* --- Tampilan Global --- */
* {
  border: none;
  border-radius: 0;
  font-family:
    "CodeNewRoman Nerd Font", "Noto Sans", "JetBrainsMono Nerd Font",
    FontAwesome, sans-serif;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: @bg;
  color: @fg;
}

/* --- Tampilan Modul --- */

#workspaces,
#clock,
#bluetooth,
#pulseaudio,
#network,
#cpu,
#memory,
#tray,
#battery,
#custom-power {
  padding: 0 5px;
  margin: 3px 0px;
}
#custom-archicon {
  color: @blue;
  padding: 0 5px;
  margin: 3px 3px;
}
/* --- Tampilan Spesifik Modul --- */
/* --- Workspaces --- */
#workspaces {
  background-color: @bg-alt; /* Warna latar kontainer (abu-abu gelap) */
  border-radius: 50px; /* Membuat kontainer utama menjadi oval/pill */
  margin: 5px 3px;
  padding: 0px 5px;
}

#workspaces button {
  color: #414868; /* Warna nomor workspace TIDAK aktif (abu-abu) */
  background-color: transparent; /* Tombol dibuat transparan secara default */
  padding: 0px 10px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background-color: rgba(192, 202, 245, 0.2); /* Efek hover samar */
  color: @fg;
  border-radius: 8px;
}

#workspaces button.active {
  background-color: @blue; /* Latar biru untuk workspace AKTIF */
  color: @bg; /* Teks hitam agar kontras dengan latar biru */
  padding: 0px 15px; /* Sedikit lebih lebar agar menonjol */
}
#workspaces button.active:hover {
  color: white;
}
/* Window Title */
#window {
  font-weight: normal;
}

/* Modul dengan warna berbeda (contoh) */
#clock {
  color: @magenta;
}
#bluetooth {
  color: #8abeb9;
}
#pulseaudio {
  color: @blue;
}
#pulseaudio.muted {
  color: @red;
}

#network {
  color: @green;
}
#network.disconnected {
  color: @red;
}

#cpu {
  color: @yellow;
}

#memory {
  color: @cyan;
}
#battery {
  color: #e45a92;
}
#custom-power {
  color: #08cb00;
  margin-right: 5px;
}
